
body {
    background-image: url('bck.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    background-attachment: fixed;
}

.Header {
    color: deeppink;
    text-align: center;
    text-decoration: underline;
    font-family: JapaneseFont;
}

@font-face {
    font-family: JapaneseFont;
    src: url('Japanese.ttf');
}